---
language: php

php:
    - '7.1'

notifications:
    email: false

before_install:
    - composer install

before_script:
    - echo 'zend.assertions = 1' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
    - echo 'assert.exception = 1' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

script:
    - php bin/task build

after_success:
    - travis_retry php vendor/bin/coveralls
